*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Raleway',sans-serif;
}
:root{
    --color-primario:#93E868;
    --color-secundario:#1b5734;
    --color-terciario:#12a750b0;
    --color-cuatro:#6c960d;
    --fondoblur:#00000050;
    --tamanio-titulo:700;
    --tamanio-subtitulo:400;
    --tamanio-texto:200;
}
/*
INICIO DE SESION
*/
.home{
    height: 95vh;
    width: auto;
    background: url(../imgs/fondoOlivam2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login{
    display: flex;
    flex-direction: column;
    width: 80vh;
    margin: auto;
    align-items: center;
    background: var(--fondoblur);
    border-radius: 20px;
    margin: 2px;
}
h2{
    padding-top: 5%;
    font-size: 7vh;
    color: white;
}

label, input {
    font-size: 2.3vh;
    margin-bottom: 5px;
    border: none;
    width:65%;
    padding: 1vh;
    border-radius: 5px;
    color: white;
}
input{
    opacity: 70%;
    color: black;
}
.login a{
    margin: 30px 0;
    font-size: 1.7vh;
    
    color: var(--color-primario);
    text-decoration: none;
}
.login span{
    color: white;
    cursor: default;
    text-decoration: none;
}
.login button{
    display: flex;
    justify-content: center;
    font-weight: 600;
    border: none;
    color: white;
    margin-bottom: 1%;
    width:30vh;
    padding: 1vh 10vh;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(90deg, #ffce06, #6c960d 100%);
}
.recordar{
    margin: 10px 0;

}
.recordar input{
    width: 2vh;
}
.recordar label{
    font-size: 1.7vh;
}

footer{
    
    bottom: 0;
    width: 100%;
    height: 5vh;
    text-align: center;
    z-index: 999;
}

footer ul{
    background: #47610c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer li{
    list-style: none;
    padding: 10px 50px;
}
 footer li a{
    text-decoration: none;
    color: #ffce06;

 }

/*INVENTARIO*/



#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 50px #6c960d;
}
.logo{
    width: 10vh;
    margin:  5px;
}
#header ul{
    display: flex;
    list-style: none;
}
#header li{
    margin: 5px 100px;
    font-size: 2vh;

}
#header a{
    text-decoration: none;
    color: var(--color-secundario);
}

.doble{
    width: 100%;
    display: flex;
    align-items: start;
    text-align: center;
    justify-content: center;
    /* background: url(../imgs/fondoOlivam.jpg);
    background-size: cover; */
}
.containerTabla{
    margin: 50px;
}


.containerTabla {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .Tabla {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse; 
    background-color: white;
    opacity: 95%;
  }
  thead td{
    background: #6c960d;
    color: #d6ffc1;
  }
  .Tabla th,
  .Tabla td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .Tabla th {
    background-color: #f2f2f2;
  }
  
  .Tabla td img {
    max-width: 20vh; 
    height: auto;
  }
  
.containerBotonesTabla{
    margin: 5%;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    background-color: var(--color-cuatro);
    border-radius: 10px;
    
    position: relative;
}
.containerBotonesTabla button{
    border: none;
    padding: 10px;
    margin:10px 0;
    cursor: pointer;
    width: 150px;
    border-radius: 10px;
    font-size: 16px;
    background-color: var(--color-primario);
}

.Locales{
    display: flex;
    justify-content: center;
}
.Locales button{
    background-color: transparent;
    border-color: transparent;
    color: var(--color-secundario);
    font-size: 2vh;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
select{
    border: none;
}
input[type="text"] {
    text-align: center;
}
.Pedidos {
    background-color: var(--color-cuatro);
    color: white;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.Pedidos:hover{
    background-color: var(--color-terciario);
    transform: scale(1.1);
}